h1{
    color: #000000
    
}
nav{
    background-color: #000000;
}
ul{
    list-style-type:none
    margin: none
    padding: 0%;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration:none
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-size: large


}
body{
    background-color: darksalmon;
}